**Ejercicio 1**

In [133]:
T1 =["enero","febrero","marzo"]
T2 =["abril","mayo","junio"]
T3 =["julio","agosto","septiembre"]
T4 =["octubre","noviembre","diciembre"]

trimestres = [T1,T2,T3,T4]

trimestres

[['enero', 'febrero', 'marzo'],
 ['abril', 'mayo', 'junio'],
 ['julio', 'agosto', 'septiembre'],
 ['octubre', 'noviembre', 'diciembre']]

**Ejercicio 2**

In [134]:
trimestres[0][1]

'febrero'

In [135]:
trimestres[0]

['enero', 'febrero', 'marzo']

In [136]:
[trimestres[2][2],trimestres[3][0]]

['septiembre', 'octubre']

**Ejercicio 3**

¿Cuántos números hay?

In [137]:
nros = [10,8,4,0,6,3,2,17,25,5,1,7,20]

lenght = len(nros)

print("la cantidad de numeros de la lista es", lenght)

la cantidad de numeros de la lista es 13

Cuántas veces aparece el número 3.

In [138]:
print("la cantidad de veces que aparece el nro 3 en la lista es", nros.count(3))

la cantidad de veces que aparece el nro 3 en la lista es 1

¿Cuántas veces aparecen los números 3 y 4?

In [139]:
print("la cantidad de veces que aparece los nros 3 y 4 en la lista son",nros.count(3),"y", nros.count(4))

la cantidad de veces que aparece los nros 3 y 4 en la lista son 1 y 1

¿Cuál es el mayor número?

In [140]:
print("el maximo numero en la lista es", max(nros))

el maximo numero en la lista es 25

¿Cuáles son los 3 números más pequeños?

In [141]:
nros_min = sorted(nros)[0:3]
print("Los 3 valores minimos son ", nros_min)

Los 3 valores minimos son  [0, 1, 2]

¿Cuál es el rango de esa lista?

In [142]:
for i , elem in enumerate(nros):
    print(f' rango {i}, elemento {elem}')

 rango 0, elemento 10
 rango 1, elemento 8
 rango 2, elemento 4
 rango 3, elemento 0
 rango 4, elemento 6
 rango 5, elemento 3
 rango 6, elemento 2
 rango 7, elemento 17
 rango 8, elemento 25
 rango 9, elemento 5
 rango 10, elemento 1
 rango 11, elemento 7
 rango 12, elemento 20

**Ejercicio 4**

In [143]:
compra = { "Pomes" : {"Qty": 5, "€": 0.42}, "Peres" : {"Qty": 3, "€": 0.66} }

In [144]:
compra["Toronja"]= {"Qty": 5, "€": 0.75}
print(compra)

{'Pomes': {'Qty': 5, '€': 0.42}, 'Peres': {'Qty': 3, '€': 0.66}, 'Toronja': {'Qty': 5, '€': 0.75}}

¿Cuánto han costado las peras en total?

In [145]:
cantidad_Peres = compra["Peres"]["Qty"]

cantidad_Peres

3

In [146]:
precio_Peres = compra["Peres"]["€"]

precio_Peres

0.66

In [147]:
costo_Peres = cantidad_Peres * precio_Peres

print("El costo total de las Peres es de", costo_Peres)

El costo total de las Peres es de 1.98

¿Cuántas frutas hemos comprado en total?

In [148]:
cantidad_Peres = compra["Peres"]["Qty"]

cantidad_Peres

3

In [149]:
cantidad_Pomes = compra["Pomes"]["Qty"]

cantidad_Pomes

5

In [150]:
cantidad_Toronja = compra["Toronja"]["Qty"]

cantidad_Toronja

5

In [151]:
cantidad_total = cantidad_Pomes + cantidad_Peres + cantidad_Toronja

print("La cantidad total comprada de frutas es", cantidad_total)

La cantidad total comprada de frutas es 13

¿Cuál es la fruta más cara?

In [152]:
precio_Peres = compra["Peres"]["€"]

precio_Peres

0.66

In [153]:
precio_Pomes = compra["Pomes"]["€"]

precio_Pomes

0.42

In [154]:
precio_Toronja = compra["Toronja"]["€"]

precio_Toronja

0.75

In [155]:
print("la fruta mas cara es la Toronja con un precio de", precio_Toronja)

la fruta mas cara es la Toronja con un precio de 0.75